:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --fourth-background-color: #eeeeee;
  --fifth-background-color: #188ce8;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --third-text-color: #ffffff;
  --fourth-text-color: rgba(255, 255, 255, 0.6);
  --fifth-text-color: #000000;
  --primary-accent-color: #2196f3;
  --secondary-accent-color: #ffffff;
  --primary-border-color: #ececec;
  --secondaty-border-color: #eeeeee;
  --third-border-color: #afb1b8;
  --sixth-background-color: #c4c4c4;
  --seventh-background-color: rgba(255, 255, 255, 0.1);
  --eight-background-color: rgba(47, 48, 58, 0.8);
  --nine-background-color: rgba(33, 150, 243, 0.9);
  --primary-icon-color: #afb1b8;
  --secondary-icon-color: #ffffff;
  --fouth-border-color: rgba(33, 33, 33, 0.2);
  --sixth-text-color: rgba(117, 117, 117, 0.5);
  --primary-font-family: roboto, sans-serif;
  --secondary-font-family: raleway, sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0px, 0px, 0px, 0px);
  overflow: hidden;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.text {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

.header {
  border-bottom: 1px solid var(--primary-border-color);
}

.header__container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  gap: 93px;
}

.options {
  display: flex;
  gap: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav__options {
  margin-left: auto;
}

.options__unit {
  color: var(--primary-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 32px;
  padding-bottom: 32px;
}
.options__unit:hover, .options__unit:focus {
  color: var(--primary-accent-color);
}

.options__text {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.options__unit--color {
  color: var(--primary-accent-color);
  position: relative;
}
.options__unit--color::after {
  content: "";
  position: absolute;
  bottom: -2px;
  background-color: var(--primary-accent-color);
  border-radius: 2px;
  display: block;
  width: 100%;
  height: 4px;
}

.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--fifth-text-color);
}

.logo--color {
  color: var(--primary-accent-color);
}

.options__icon {
  fill: currentColor;
  margin-right: 10px;
}

.options__link {
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.options__link:hover, .options__link:focus {
  color: var(--primary-accent-color);
}

.hero {
  background-color: var(--secondary-background-color);
  padding: 200px 0;
}

.main__hero {
  margin-left: auto;
  margin-right: auto;
}

.hero__overlay {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay.jpg);
  background-color: var(--sixth-background-color);
  max-width: 1600px;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  color: var(--third-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto 30px;
}

.hero__button {
  color: var(--third-text-color);
  background-color: var(--primary-accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  min-width: 216px;
  margin: 0 auto;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--fifth-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop {
  position: fixed;
  top: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) rotate(-180deg) scale(0);
  opacity: 0;
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0) scale(100%);
  opacity: 1;
  width: 528px;
  height: 581px;
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: transform, opacity, visibility;
  transition-duration: 650ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button:hover, .modal-close-button:focus {
  color: var(--primary-accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
}

.modal-close-icon {
  fill: currentColor;
}

.form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.user-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--secondary-text-color);
}

.user-data {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.user-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--fouth-border-color);
  padding-left: 42px;
  font-size: 16px;
  align-items: center;
  transition-property: border, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.user-input:focus {
  border: 1px solid var(--primary-accent-color);
  outline: none;
}
.user-input:focus + .icon-username {
  color: var(--primary-accent-color);
}

.icon-username {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.area-data {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.area-data textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--sixth-text-color);
}
.area-data textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--sixth-text-color);
}
.area-data textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--sixth-text-color);
}

.user-comment {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid var(--fouth-border-color);
  resize: none;
  padding: 12px 16px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.user-comment:focus {
  border: 1px solid var(--primary-accent-color);
  outline: none;
}

.user-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-agree {
  width: 16px;
  height: 15px;
  border-radius: 4px;
  border: 1px solid var(--fouth-border-color);
}
.checkbox-agree:checked + label .check-icon-off {
  display: none;
}
.checkbox-agree:checked ~ label .check-icon-on {
  display: block;
}
.checkbox-agree:focus + label .check-icon-off {
  border: 2px solid var(--primary-accent-color);
}

.agreement-label {
  font-weight: 400;
  line-height: 1.71;
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
}

.check-icon-off {
  display: block;
  align-items: center;
  margin-right: 8.38px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.check-icon-on {
  align-items: center;
  margin-right: 8.38px;
  display: none;
}

.contract {
  color: var(--primary-accent-color);
  text-decoration: underline;
  margin-left: 4px;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  fill: currentColor;
}

.button-send {
  min-width: 200px;
  padding: 10px 52px;
  color: var(--third-text-color);
  background-color: var(--primary-accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  outline: none;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-send:hover, .button-send:focus {
  background-color: var(--fifth-background-color);
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features__title {
  line-height: 1.14;
  text-transform: uppercase;
  max-width: 270px;
  margin-bottom: 10px;
  font-size: 14px;
}

.features__list {
  display: flex;
  gap: 30px;
}

.features__area {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: var(--third-background-color);
  margin-bottom: 30px;
}

.features__text {
  line-height: 1.71;
  color: var(--secondary-text-color);
  max-width: 270px;
}

.headline__area {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.headline {
  padding-top: 0;
  padding-bottom: 94px;
}

.headline__list {
  display: flex;
  gap: 30px;
}

.headline__bottom {
  position: relative;
}

.headline__title {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--third-text-color);
  background-color: var(--eight-background-color);
}

.box {
  background-color: var(--third-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.box__caption {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.box__list {
  display: flex;
  gap: 30px;
}

.box__pic {
  background-color: var(--primary-background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.box__area {
  padding-top: 30px;
  padding-bottom: 30px;
}

.box__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.box__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.box__socItem {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.box__socList {
  width: 44px;
  height: 44px;
}

.box__socLink {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-icon-color);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.box__socLink:hover, .box__socLink:focus {
  color: var(--secondary-accent-color);
  background-color: var(--primary-accent-color);
}

.box__socIcon {
  fill: currentColor;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clints__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  gap: 30px;
}

.clients__item {
  width: calc((100% - 150px) / 6);
  height: 92px;
}

.clients__link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--third-border-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-icon-color);
  transition-property: border, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--primary-accent-color);
  color: var(--primary-accent-color);
}

.clients__icon {
  fill: currentColor;
}

.items {
  padding-top: 94px;
  padding-bottom: 94px;
}

.items-btn {
  color: var(--primary-text-color);
  background-color: var(--third-background-color);
  font-family: var(--primary-font-family);
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.items-btn:hover, .items-btn:focus {
  color: var(--third-text-color);
  background-color: var(--primary-accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.size-btn {
  padding: 6px 25px;
}

.items-shadow {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.items-shadow:hover, .items-shadow:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.items-shadow:hover .items-box-text, .items-shadow:focus .items-box-text {
  transform: translateY(0);
}

.container-btn {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.list-gallery {
  width: calc((100% - 60px) / 3);
}

.items-border {
  border-left: 1px solid var(--secondaty-border-color);
  border-right: 1px solid var(--secondaty-border-color);
  border-bottom: 1px solid var(--secondaty-border-color);
  padding: 20px 24px;
}

.items-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.items-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
  margin-top: 4px;
}

.items-box-gallery {
  position: relative;
  overflow: hidden;
}

.items-box-text {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--third-text-color);
  background-color: var(--nine-background-color);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: var(--secondary-background-color);
}

.footer__size {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__area {
  display: flex;
  align-items: baseline;
}

.logo__footerColor {
  color: var(--third-text-color);
}

.logo__address {
  margin-top: 20px;
}

.address__distance {
  margin-bottom: 9px;
}
.address__distance:last-child {
  margin-bottom: 0;
}

.address__reference {
  color: var(--third-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address__reference:hover, .address__reference:focus {
  color: var(--primary-accent-color);
}

.address__link {
  color: var(--fourth-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: var(--primary-accent-color);
}

.address__text {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}

.footer__secondary {
  margin-left: 70px;
}

.footer__title {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--third-text-color);
  line-height: 1.14;
  margin-bottom: 20px;
}

.footer__unit {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.unit__socList {
  width: 44px;
  height: 44px;
}

.unit__socLink {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-icon-color);
  background-color: var(--seventh-background-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.unit__socLink:hover, .unit__socLink:focus {
  color: var(--secondary-accent-color);
  background-color: var(--primary-accent-color);
}

.unit__socIcon {
  fill: currentColor;
}

.sending {
  margin-left: 93px;
}

.sending__title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--third-text-color);
  margin-bottom: 20px;
}

.sending__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--fourth-text-color);
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
}

.sending__input {
  width: 358px;
  height: 50px;
  outline: none;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 72px;
  color: #ffffff;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.sending__input:focus {
  border: 1px solid var(--primary-accent-color);
}

.sending__email {
  position: relative;
  display: flex;
}

.sending__button {
  min-width: 200px;
  padding: 10px 62px 10px 28px;
  color: var(--third-text-color);
  background-color: var(--primary-accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  margin-left: 12px;
  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.sending__button:hover, .sending__button:focus {
  background-color: var(--fifth-background-color);
}
.sending__button:focus {
  border: 1px solid var(--secondary-accent-color);
  outline: none;
}

.sending__icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translate(0, -50%);
}/*# sourceMappingURL=main.css.map */