:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --fourth-background-color: #eeeeee;
  --fifth-background-color: #188ce8;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --third-text-color: #ffffff;
  --fourth-text-color: rgba(255, 255, 255, 0.6);
  --fifth-text-color: #000000;
  --primary-accent-color: #2196f3;
  --secondary-accent-color: #ffffff;
  --primary-border-color: #ececec;
  --secondaty-border-color: #eeeeee;
  --third-border-color: #afb1b8;
  --sixth-background-color: #c4c4c4;
  --seventh-background-color: rgba(255, 255, 255, 0.1);
  --eight-background-color: rgba(47, 48, 58, 0.8);
  --nine-background-color: rgba(33, 150, 243, 0.9);
  --primary-icon-color: #afb1b8;
  --secondary-icon-color: #ffffff;
  --fouth-border-color: rgba(33, 33, 33, 0.2);
  --sixth-text-color: rgba(117, 117, 117, 0.5);
  --primary-font-family: roboto, sans-serif;
  --secondary-font-family: raleway, sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0px, 0px, 0px, 0px);
  overflow: hidden;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.text {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.header {
  border-bottom: 1px solid var(--primary-border-color);
  padding: 10px;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 0;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.menu__open {
  margin-left: auto;
  background-color: transparent;
  padding: 0;
}
.menu__open:hover, .menu__open:focus {
  color: var(--primary-accent-color);
}
@media screen and (min-width: 768px) {
  .menu__open {
    display: none;
  }
}

.mob-menu {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  position: fixed;
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 48px;
  top: 0;
}

.mob-container {
  padding-left: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.menu__close {
  position: absolute;
  right: 15px;
  top: 10px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.menu__close:hover, .menu__close:focus {
  color: var(--primary-accent-color);
}

.menu__icon {
  fill: currentColor;
}

.mob-menu__item {
  margin-bottom: 32px;
}
.mob-menu__item:last-child {
  margin-bottom: 0;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.mob-menu__link:hover, .mob-menu__link:focus {
  color: var(--primary-accent-color);
}

.mob-menu--accent {
  color: var(--primary-accent-color);
}

.mob-menu__list {
  margin-top: 32px;
  justify-content: space-between;
  margin-bottom: 64px;
}

.mob-menu__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-accent-color);
}

.mob-menu__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.mob-menu__area {
  margin-bottom: 32px;
}
.mob-menu__area:last-child {
  margin-bottom: 0;
}

.mob-soc__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.mob__socItem {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mob__socItem:last-child {
  padding-right: 0;
  border-right: none;
}

.mob__socLink {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--primary-accent-color);
}

.nav {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav {
    gap: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    gap: 93px;
  }
}

.options {
  display: flex;
  gap: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav__options {
  margin-left: auto;
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__options {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .options__tablet {
    flex-direction: column;
    gap: 10px;
    padding-top: 21px;
    padding-bottom: 21px;
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .options__tablet {
    flex-direction: row;
    gap: 40px;
    font-size: 14px;
  }
}

.options__unit {
  color: var(--primary-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 32px;
  padding-bottom: 32px;
}
.options__unit:hover, .options__unit:focus {
  color: var(--primary-accent-color);
}

.options__text {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.options__unit--color {
  color: var(--primary-accent-color);
  position: relative;
}
.options__unit--color::after {
  content: "";
  position: absolute;
  bottom: -2px;
  background-color: var(--primary-accent-color);
  border-radius: 2px;
  display: block;
  width: 100%;
  height: 4px;
}

.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--fifth-text-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--color {
  color: var(--primary-accent-color);
}

.options__icon {
  fill: currentColor;
  margin-right: 10px;
}

.options__link {
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.options__link:hover, .options__link:focus {
  color: var(--primary-accent-color);
}

.hero {
  background-color: var(--secondary-background-color);
  padding: 200px 0;
}

.main__hero {
  margin-left: auto;
  margin-right: auto;
}

.hero__overlay {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-mob-1.jpg);
  background-color: var(--sixth-background-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-mob-2.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero__overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-tab-1.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-tab-2.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero__overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-desk-1.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-desk-2.jpg);
  }
}

.hero__title {
  color: var(--third-text-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  max-width: 360px;
  margin: 0 auto 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  color: var(--third-text-color);
  background-color: var(--primary-accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  min-width: 216px;
  margin: 0 auto;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--fifth-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop {
  position: fixed;
  top: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) rotate(-180deg) scale(0);
  opacity: 0;
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0) scale(100%);
  opacity: 1;
  width: 100%;
  height: auto;
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: transform, opacity, visibility;
  transition-duration: 650ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

@media screen and (max-width: 1199px) {
  .modal {
    height: 95%;
    width: 95%;
    max-height: 609px;
    max-width: 450px;
    overflow: scroll;
  }
}
.modal-close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button:hover, .modal-close-button:focus {
  color: var(--primary-accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
}

.modal-close-icon {
  fill: currentColor;
}

.form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.user-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--secondary-text-color);
}

.user-data {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.user-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--fouth-border-color);
  padding-left: 42px;
  font-size: 16px;
  align-items: center;
  transition-property: border, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.user-input:focus {
  border: 1px solid var(--primary-accent-color);
  outline: none;
}
.user-input:focus + .icon-username {
  color: var(--primary-accent-color);
}

.icon-username {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.area-data {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.area-data textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--sixth-text-color);
}
.area-data textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--sixth-text-color);
}
.area-data textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--sixth-text-color);
}

.user-comment {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid var(--fouth-border-color);
  resize: none;
  padding: 12px 16px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.user-comment:focus {
  border: 1px solid var(--primary-accent-color);
  outline: none;
}

.user-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-agree {
  width: 16px;
  height: 15px;
  border-radius: 4px;
  border: 1px solid var(--fouth-border-color);
}
.checkbox-agree:checked + label .check-icon-off {
  display: none;
}
.checkbox-agree:checked ~ label .check-icon-on {
  display: block;
}
.checkbox-agree:focus + label .check-icon-off {
  border: 2px solid var(--primary-accent-color);
}

.agreement-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.71;
  color: var(--secondary-text-color);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .agreement-label {
    font-size: 14px;
  }
}

.check-icon-off {
  display: block;
  align-items: center;
  margin-right: 8.38px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.check-icon-on {
  align-items: center;
  margin-right: 8.38px;
  display: none;
}

.contract {
  color: var(--primary-accent-color);
  text-decoration: underline;
  margin-left: 4px;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  fill: currentColor;
}

.button-send {
  min-width: 200px;
  padding: 10px 52px;
  color: var(--third-text-color);
  background-color: var(--primary-accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  outline: none;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-send:hover, .button-send:focus {
  background-color: var(--fifth-background-color);
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px) / 4);
  }
}

.features__title {
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
}

.features__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.features__area {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: var(--third-background-color);
  margin-bottom: 30px;
}

.features__text {
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.headline__area {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.headline {
  padding-top: 0;
  padding-bottom: 94px;
  display: none;
}
@media screen and (min-width: 768px) {
  .headline {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .headline {
    display: block;
  }
}

.headline__list {
  display: flex;
  gap: 30px;
}

.headline__bottom {
  position: relative;
}

.headline__title {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--third-text-color);
  background-color: var(--eight-background-color);
}

.box {
  background-color: var(--third-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .box {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.box__caption {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .box__caption {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.box__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.box__pic {
  width: 100%;
  background-color: var(--primary-background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .box__pic {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .box__pic {
    width: calc((100% - 90px) / 4);
  }
}

.box__area {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .box__area {
    padding-bottom: 30px;
  }
}

.box__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.box__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.box__socItem {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.box__socList {
  width: 44px;
  height: 44px;
}

.box__socLink {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-icon-color);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.box__socLink:hover, .box__socLink:focus {
  color: var(--secondary-accent-color);
  background-color: var(--primary-accent-color);
}

.box__socIcon {
  fill: currentColor;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clints__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clints__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  width: calc((100% - 30px) / 2);
  height: 92px;
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}

.clients__link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--third-border-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-icon-color);
  transition-property: border, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--primary-accent-color);
  color: var(--primary-accent-color);
}

.clients__icon {
  fill: currentColor;
}

.items {
  padding-top: 94px;
  padding-bottom: 94px;
}

.items-btn {
  color: var(--primary-text-color);
  background-color: var(--third-background-color);
  font-family: var(--primary-font-family);
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.items-btn:hover, .items-btn:focus {
  color: var(--third-text-color);
  background-color: var(--primary-accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.size-btn {
  padding: 6px 25px;
}

.items-shadow {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.items-shadow:hover, .items-shadow:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.items-shadow:hover .items-box-text, .items-shadow:focus .items-box-text {
  transform: translateY(0);
}

.container-btn {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.list-gallery {
  width: calc((100% - 60px) / 3);
}

.items-border {
  border-left: 1px solid var(--secondaty-border-color);
  border-right: 1px solid var(--secondaty-border-color);
  border-bottom: 1px solid var(--secondaty-border-color);
  padding: 20px 24px;
}

.items-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.items-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
  margin-top: 4px;
}

.items-box-gallery {
  position: relative;
  overflow: hidden;
}

.items-box-text {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--third-text-color);
  background-color: var(--nine-background-color);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: var(--secondary-background-color);
}

.footer__size {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__area {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__area {
    display: flex;
    align-items: baseline;
    text-align: start;
  }
}

@media screen and (min-width: 768px) {
  .footer__block {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}

.logo__footerColor {
  color: var(--third-text-color);
}

.logo__address {
  margin-top: 28px;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .logo__address {
    margin-bottom: 0;
  }
}

.address__distance {
  margin-bottom: 12px;
}
.address__distance:last-child {
  margin-bottom: 0;
}

.address__reference {
  color: var(--third-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address__reference:hover, .address__reference:focus {
  color: var(--primary-accent-color);
}

.address__link {
  color: var(--fourth-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: var(--primary-accent-color);
}

.address__text {
  font-style: normal;
  font-weight: 400;
  line-height: 1.44;
}

.footer__secondary {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__secondary {
    margin-left: 165px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__secondary {
    margin-left: 93px;
    margin-bottom: 0;
  }
}

.footer__title {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--third-text-color);
  line-height: 1.14;
  margin-bottom: 20px;
}

.footer__unit {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.unit__socList {
  width: 44px;
  height: 44px;
}

.unit__socLink {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-icon-color);
  background-color: var(--seventh-background-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.unit__socLink:hover, .unit__socLink:focus {
  color: var(--secondary-accent-color);
  background-color: var(--primary-accent-color);
}

.unit__socIcon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .sending {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .sending {
    margin-left: 94px;
    margin-top: 0;
  }
}

.sending__title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--third-text-color);
  margin-bottom: 20px;
}

.sending-area {
  position: relative;
}
@media screen and (min-width: 768px) {
  .sending-area {
    width: 450px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .sending-area {
    width: 358px;
  }
}

.sending__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--fourth-text-color);
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
}

.sending__input {
  margin: 0 auto;
  width: 100%;
  height: 50px;
  outline: none;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.sending__input:focus {
  border: 1px solid var(--primary-accent-color);
}

@media screen and (min-width: 1200px) {
  .sending__email {
    display: flex;
  }
}

.sending__button {
  position: relative;
  min-width: 200px;
  padding: 10px 62px 10px 28px;
  color: var(--third-text-color);
  background-color: var(--primary-accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .sending__button {
    margin-top: 0;
    margin-left: 12px;
  }
}
.sending__button:hover, .sending__button:focus {
  background-color: var(--fifth-background-color);
}
.sending__button:focus {
  border: 1px solid var(--secondary-accent-color);
  outline: none;
}

.sending__icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translate(0, -50%);
}/*# sourceMappingURL=main.css.map */