.footer {
  background-color: var(--secondary-background-color);
}
.footer__size {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__area {
  text-align: center;
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    text-align: start;
  }
}
.footer__block {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}
.logo__footerColor {
  color: var(--third-text-color);
}
