.hero {
  background-color: var(--secondary-background-color);
  padding: 200px 0;
}
.main__hero {
  margin-left: auto;
  margin-right: auto;
}
.hero__overlay {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/overlay.jpg);
  background-color: var(--sixth-background-color);
  max-width: 1600px;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__title {
  color: var(--third-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto 30px;
}
.hero__button {
  color: var(--third-text-color);
  background-color: var(--primary-accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  min-width: 216px;
  margin: 0 auto;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--fifth-background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
