.list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.list-gallery {
  width: calc((100% - 60px) / 3);
}
.items-border {
  border-left: 1px solid var(--secondaty-border-color);
  border-right: 1px solid var(--secondaty-border-color);
  border-bottom: 1px solid var(--secondaty-border-color);
  padding: 20px 24px;
}
.items-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.items-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
  margin-top: 4px;
}
.items-box-gallery {
  position: relative;
  overflow: hidden;
}
.items-box-text {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--third-text-color);
  background-color: var(--nine-background-color);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
